fastapi
uvicorn
python-jose
passlib
python-multipart
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
pydantic[email]
bcrypt
websockets
boto3 
botocore
pandas
xlsxwriter 
fpdf2
beautifulsoup4
