fastapi
uvicorn
pydantic[email]
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
sqlalchemy
psycopg2-binary
boto3
botocore
pandas
fpdf2
openpyxl
xlsxwriter
reportlab
requests
beautifulsoup4
python-dotenv
